<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Qui suis-je ?</title>
	<!-- meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!-- Links -->
	<link rel="stylesheet" href="../assets/css/style.css" />
	<link rel="stylesheet" href="../assets/css/tarifs.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<!-- favicon -->	
	<link rel=icon href="../assets/img/moh_icon.png" sizes="256x256" type="image/png">

</head>
<body>
	<!-- Header -->
	<header id="header">
		<a class="logo" href="index.html">
			<img src="../assets/img/game_over.png" alt="game over" title="game over">
		</a>
		<nav>
			<a href="#menu">Menu déroulant</a>
		</nav>
	</header>
	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="../index.html">Accueil</a></li>
			<li><a href="about.html">Qui suis-je?</a></li>
			<li><a href="../View/contact.html">Contact</a></li>
			<li><a href="../View/tarifs.html">Tarifs</a></li>
			<li><a href="../View/connexion.html">Connexion</a></li>
		</ul>
	</nav>
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h1>Julien Guellerin</h1>
			<p>Dans quel jeu souhaitez-vous vous améliorer ?</p>
			<a href="mailto:JulienGuellerin@gmail.com">JulienGuellerin@gmail.com</a>
		</div>
		<video autoplay loop muted playsinline src="../assets/video/mohaa.mp4"></video>
	</section>
	<!-- Contact -->
	<section class="wrapper">
		<div class="inner">
			<header class="special">
				<h2>Mes qualités et compétences:</h2>
			</header>
		<div class="table-wrapper">
<p>- <strong>Spécialiste du jeu vidéo</strong><br />
- <strong>Manager</strong> les joueurs en individuel et en équipe<br>
- <strong>Déléguer</strong><br>
- <strong>Identifier</strong> les points forts et les points faibles de chacun de ses joueurs et de la team
<br>
- <strong>Gérer</strong> la logistique<br>
- <strong>Préparer</strong> les joueurs aux entraînements et aux compétitions<br>
- <strong>Maîtriser</strong> le jeu et ses mécanismes,<br>
- <strong>Anticiper</strong> le jeu adverse pour adapter sa stratégie<br>
- Maîtriser les <strong>nouveautés</strong> du jeu<br>
- <strong>Former</strong> les joueurs<br>
- <strong>Adapter</strong> de nouvelles stratégies<br>
- amené(e) à travailler dans différents environnements (game house, home office, compétitions).</p>

	<p>Certains d’entre vous ont peut-être l’objectif d’en faire leur voie et tenter de devenir le meilleur de tous. Si c’est le cas, vous savez mieux que quiconque que ce n’est pas si simple. <strong>Il est pratiquement impossible de comprendre à quel point un coach joue un rôle majeur sans vivre soi-même l’expérience.</strong> Et malheureusement, tous ceux qui ont réussi à entrer dans ce cercle fermé en font un secret bien gardé.</p>
				<header class="special">
					<h3>« Jouer c’est bien, gagner c’est mieux »</h3>
				</header>
				<p>
					Pour beaucoup, la notion de performance fait partie intégrante du jeu vidéo, il ne suffit pas de s’amuser, il faut aussi être capable de prouver qu’on est un des meilleurs, sans pour autant avoir l’ambition d’un joueur professionnel. Certains titres jouent sur cette idée où le simple fait d’enchaîner les heures de jeu ne suffit plus : il faut aussi maîtriser la macro gestion (la gestion ultra détaillée du jeu qui peut passer inaperçue pour les casual gamers), les déplacements au millimètre, les placements au sein de son environnement, la tactique, le jeu d’équipe et bien entendu, faire exploser son talent personnel. Ce qu’on appelle communément le Skill. Les Zidane du clavier, les Messi du joystick sont tout autant adulés dans le monde de l’eSport que dans le sport « physique ».
				</p>
				<p>
Pour la majorité des joueurs qui veulent atteindre les sommets, à titre personnel ou pour se faire repérer par des structures professionnelles, le coaching est donc l’une des meilleures solutions. Un coach peut vous faire gagner du temps en partageant son expérience et porter votre attention sur des détails du jeu que vous n’aviez probablement pas soupçonnés jusqu’alors. League of Legends, Counter Strike, Overwatch, Heartstone ou Starcraft 2 (pour ne citer qu’eux), sont des titres dont l’expérience de jeu peut être poussée vers des exigences de compétition. Ce sont aussi les plus représentés sur la scène mondiale de l’eSport.
				</p>
				<header class="special">
					<h4>Soit un coach mon fils !</h4>
				</header>
				<p>
Les méthodes de coaching sont, elles, aussi variées que le nombre de coach et puisqu’il n’existe pas de diplôme ou de réglementation en la matière, chacun fait ce qu’il veut. Divers sites de coaching ont pignon sur Web en France, parmi lesquels se trouve eGG-One. Chaque coach propose son tarif horaire, là encore, sans réel barème précis, mais ce qui fait la valeur d’un coach se situe dans les commentaires de ses élèves. Les heures de cours dispensées ainsi que le nombre et la qualité des retours des élèves sont pour le moment le baromètre qui fait ou défait les coachs. Nous avons posé quelques questions à un des coachs eGG-one les plus réputés : Zash. Fort de son expérience, il est bien placé pour expliquer son activité (retrouvez son interview sur le blog).
				</p>	
		</div>
	</section>


	<!--   retourner en haut de la page -->
	<div id="scrollUp">
		<a href="#top">
			<img src="../assets/img/to_top.png" alt="haut de page" title="haut de page"/>
		</a>
	</div>


	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>Une question ?</h3>
					<p>
						Pour toutes questions ou demande d'informations, merci de nous contacter par télépone, par email ou bien en remplissant le formulaire (dans le menu page Contact).
					Vous pouvez également directement télécharger la documentation, vous inscrire à une réunion d'information ou candidater en ligne.</p>
				</section>
				<section>
					<h4>Partenaires officiels</h4>
					<ul class="alt">
						<li>
							<a href="#">Dolor.</a>
						</li>
						<li>
							<a href="#">Etiam.</a>
						</li>
						<li>
							<a href="#">Felis.</a>
						</li>
						<li>
							<a href="#">pulvinar.</a>
						</li>
					</ul>
				</section>
				<section>
					<h4>Suivez nous sur :</h4>
					<ul class="plain">
						<li>
							<a href="#"><i class="icon fa-twitter fa-3x" title="logo twitter icon" >&nbsp;</i>Twitter</a>
						</li>
						<li>
							<a href="#"><i class="icon fa-facebook fa-3x" title="logo Facebook icon">&nbsp;</i>Facebook</a>
						</li>
						<li>
							<a href="#"><i class="icon fa-youtube fa-3x" title="logo Youtube icon">&nbsp;</i>Youtube</a>
						</li>
						<li>
							<a href="#"><i class="icon fa-twitch fa-3x" title="logo twitch icon">&nbsp;</i>twitch</a>
						</li>
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; Untitled.
			</div>
		</div>
	</footer>	

	<!-- Scripts -->
	<script src="../assets/js/jquery.js" type="text/javascript"></script>
	<script src="../assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="../assets/js/browser.min.js" type="text/javascript"></script>
	<script src="../assets/js/breakpoints.min.js" type="text/javascript"></script>
	<script src="../assets/js/util.js" type="text/javascript"></script>
	<script src="../assets/js/main.js" type="text/javascript"></script>
	<script src="../assets/js/to-top.js" type="text/javascript"></script>

</body>
</html>

