<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Connexion</title>
	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!-- Links -->
	<link rel="stylesheet" href="../assets/css/style.css" />
	<link rel="stylesheet" href="../assets/css/connexion.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<!-- favicon -->	
	<link rel=icon href="../assets/img/moh_icon.png" sizes="256x256" type="image/png">

</head>
<body>
	<!-- Header -->
	<header id="header">
		<a class="logo" href="index.html">
			<img src="../assets/img/game_over.png" alt="game over" title="game over">
		</a>
		<nav>
			<a href="#menu">Menu déroulant</a>
		</nav>
	</header>
	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="../index.html" title="Accueil">Accueil</a></li>
			<li><a href="../View/about.html" title="Qui suis-je?">Qui suis-je?</a></li>
			<li><a href="../View/contact.html" title="Contact">Contact</a></li>
			<li><a href="../View/tarifs.html" title="Tarifs">Tarifs</a></li>
			<li><a href="connexion.html" title="Connexion">Connexion</a></li>
		</ul>
	</nav>
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h1>Julien Guellerin</h1>
			<p>Dans quel jeu souhaitez-vous vous améliorer ?</p>
			<a href="mailto:JulienGuellerin@gmail.com">JulienGuellerin@gmail.com</a>
		</div>
		<video autoplay loop muted playsinline src="../assets/video/mohaa.mp4"></video>
	</section>
	<!-- Fil d'Ariane -->
	<div class="breadcrumb">
		<a href="../index.html" title="Accueil">Accueil</a> \
		<a href="../View/about.html" title="Qui suis-je?">Qui suis-je?</a> \
		<a href="../View/contact.html" title="Contact">Contact</a> \
		<a href="../View/tarifs.html" title="Tarifs">Tarifs</a> \
		<a href="connexion.html" title="connexion" class="active">Connexion</a>
	</div>
	<!-- Inscription -->
	<section class="wrapper">
		<div class="container-inscription">
			<div class="wrap-inscription">
				<form class="inscription-form validate-form">
					<span class="inscription-form-title"></span>
					<h2>Pour vous Inscrire</h2>
					<label class="label-input" for="first-name">Entrer votre Nom *</label>
					<div class="wrap-input rs1-wrap-input validate-input" data-validate="Type first name">
						<input id="first-name" class="input" type="text" name="first-name" placeholder="Prénom">
						<span class="focus-input"></span>
					</div>
					<div class="wrap-input rs2-wrap-input validate-input" data-validate="Type last name">
						<input class="input" type="text" name="last-name" placeholder="Nom">
						<span class="focus-input"></span>
					</div>

					<label class="label-input" for="email">Entrer votre Email *</label>
					<div class="wrap-input validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input id="email" class="input" type="text" name="email" placeholder="Ex: example@email.com">
						<span class="focus-input"></span>
					</div>

					<label class="label-input" for="password">ENTRER votre mot de passe</label>
					<div class="wrap-input">
						<input id="password" class="input" type="password" name="password" placeholder="mot de passe">
						<span class="focus-input"></span>
					</div>
					<label class="label-input" for="password">Confirmer votre mot de passe</label>
					<div class="wrap-input">
						<input id="password-confirm" class="input" type="password" name="password-confirm" placeholder="Conrfirmer le mot de passe">
						<span class="focus-input"></span>
					</div>


					<div class="container-inscription-form-btn">
						<button class="inscription-form-btn">Inscription</button>
					</div>
				</form>		

				<!--  Connexion -->
				<div class="connexion-more">
					<div class="container-connexion">
						<div class="wrap-connexion">
							<form class="form validate-form">
								<span class="connexion-form-title"></span>
								<h2>Déjà Membre</h2>
								<label class="label-input" for="email">Entrer votre Email *</label>
								<div class="wrap-input-connexion validate-input" data-validate = "Valid email is required: ex@abc.xyz">
									<input id="email-connexion" class="input" type="text" name="email" placeholder="Ex: example@email.com">
									<span class="focus-input"></span>
								</div>

								<label class="label-input" for="password">ENTRER votre mot de passe</label>
								<div class="wrap-input">
									<input id="pasconnexion" class="input" type="password" name="password-connexion" placeholder="mot de passe">
									<span class="focus-input"></span>
								</div>
								<div class="container-connexion-form-btn">
									<button class="connexion-form-btn">Connexion</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>			
		</section>


		<!--   retourner en haut de la page -->
		<div id="scrollUp">
			<a href="#top">
				<img src="../assets/img/to_top.png" alt="haut de page" title="haut de page"/>
			</a>
		</div>


		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<div class="content">
					<section>
						<h3>Une question ?</h3>
						<p>
							Pour toutes questions ou demande d'informations, merci de nous contacter par télépone, par email ou bien en remplissant le formulaire (dans le menu page Contact).
						Vous pouvez également directement télécharger la documentation, vous inscrire à une réunion d'information ou candidater en ligne.</p>
					</section>
					<section>
						<h4>Partenaires officiels</h4>
						<ul class="alt">
							<li>
								<a href="#">Dolor.</a>
							</li>
							<li>
								<a href="#">Etiam.</a>
							</li>
							<li>
								<a href="#">Felis.</a>
							</li>
							<li>
								<a href="#">pulvinar.</a>
							</li>
						</ul>
					</section>
					<section>
						<h4>Suivez nous sur :</h4>
						<ul class="plain">
							<li>
								<a href="#"><i class="icon fa-twitter fa-3x" title="logo twitter icon" >&nbsp;</i>Twitter</a>
							</li>
							<li>
								<a href="#"><i class="icon fa-facebook fa-3x" title="logo Facebook icon">&nbsp;</i>Facebook</a>
							</li>
							<li>
								<a href="#"><i class="icon fa-youtube fa-3x" title="logo Youtube icon">&nbsp;</i>Youtube</a>
							</li>
							<li>
								<a href="#"><i class="icon fa-twitch fa-3x" title="logo twitch icon">&nbsp;</i>twitch</a>
							</li>
						</ul>
					</section>
				</div>
				<div class="copyright">
					&copy; Untitled.
				</div>
			</div>
		</footer>	

		<!-- Scripts -->
		<script src="../assets/js/jquery.js" type="text/javascript"></script>
		<script src="../assets/js/jquery.min.js" type="text/javascript"></script>
		<script src="../assets/js/browser.min.js" type="text/javascript"></script>
		<script src="../assets/js/breakpoints.min.js" type="text/javascript"></script>
		<script src="../assets/js/util.js" type="text/javascript"></script>
		<script src="../assets/js/main.js" type="text/javascript"></script>
		<script src="../assets/js/to-top.js" type="text/javascript"></script>

	</body>
	</html>

