<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!-- Links -->
	<link rel="stylesheet" href="../assets/css/style.css" />
	<link rel="stylesheet" href="../assets/css/contact.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<!-- favicon -->	
	<link rel=icon href="../assets/img/moh_icon.png" sizes="256x256" type="image/png">


</head>
<body>
	<!-- Header -->
	<header id="header">
		<a class="logo" href="index.html">
			<img src="../assets/img/game_over.png" alt="game over" title="game over">
		</a>
		<nav>
			<a href="#menu">Menu déroulant</a>
		</nav>
	</header>
	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="../index.html" title="Accueil">Accueil</a></li>
			<li><a href="../View/about.html" title="Qui suis-je?">Qui suis-je?</a></li>
			<li><a href="contact.html" title="Contact">Contact</a></li>
			<li><a href="../View/tarifs.html" title="Tarifs">Tarifs</a></li>
			<li><a href="../View/connexion.html" title="Connexion">Connexion</a></li>
		</ul>
	</nav>
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h1>Julien Guellerin</h1>
			<p>Dans quel jeu souhaitez-vous vous améliorer ?</p>
			<a href="mailto:JulienGuellerin@gmail.com">JulienGuellerin@gmail.com</a>
		</div>
		<video autoplay loop muted playsinline src="../assets/video/mohaa.mp4"></video>
	</section>
	<!-- Fil d'Ariane -->
	<div class="breadcrumb">
		<a href="../index.html" title="Accueil">Accueil</a> \
		<a href="../View/about.html" title="Qui suis-je?">Qui suis-je?</a> \
		<a href="contact.html" title="Contact" class="active">Contact</a> \
		<a href="../View/tarifs.html" title="Tarifs">Tarifs</a> \
		<a href="../View/connexion.html" title="connexion">Connexion</a>
	</div>
	<!-- Contact -->
	<section class="wrapper">
		<div class="container-contact">
			<div class="wrap-contact">
				<form class="contact-form validate-form">
					<span class="contact-form-title"></span>
					<h2>Pour nous Envoyer un message</h2>
					<label class="label-input" for="first-name">Entrer votre Nom *</label>
					<div class="wrap-input rs1-wrap-input validate-input" data-validate="Type first name">
						<input id="first-name" class="input" type="text" name="first-name" placeholder="Prénom">
						<span class="focus-input"></span>
					</div>
					<div class="wrap-input rs2-wrap-input validate-input" data-validate="Type last name">
						<input class="input" type="text" name="last-name" placeholder="Nom">
						<span class="focus-input"></span>
					</div>

					<label class="label-input" for="email">Entrer votre Email *</label>
					<div class="wrap-input validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input id="email" class="input" type="text" name="email" placeholder="Ex: example@email.com">
						<span class="focus-input"></span>
					</div>

					<label class="label-input" for="phone">ENTRER NUMÉRO DE TÉLÉPHONE</label>
					<div class="wrap-input">
						<input id="phone" class="input" type="text" name="phone" placeholder="Ex. 0320000000">
						<span class="focus-input1"></span>
					</div>

					<label class="label-input" for="message">Votre Message *</label>
					<div class="wrap-input validate-input" data-validate = "Message is required">
						<textarea id="message" class="input" name="message" placeholder="Écrivez-nous un message"></textarea>
						<span class="focus-input"></span>
					</div>

					<div class="container-contact-form-btn">
						<button class="contact-form-btn">Envoyer le Message</button>
					</div>
				</form>

				<div class="contact-more flex-col-c-m">
					<h2>Pour nous Contacter</h2><br /><br /><br />
					<div class="flex-w size1 p-b-47">
						<div class="txt1 p-r-25">
							<span class="fas fa-map-marker-alt"></span>
						</div>
						<div class="flex-col size2">
							<span class="txt1 p-b-20">Addresse</span>
							<span class="txt2">94 rue Léon marlot 59100 roubaix</span><br />
							<!-- google map   -->
							<iframe src="https://www.google.com/maps/d/embed?mid=18pNX_EhUnq6rR36L7rPzqztOOrMaGiQx"></iframe>
  
                        </div>
					</div>

					<div class="dis-flex size1 p-b-47">
						<div class="txt1 p-r-25">
							<span class="fas fa-phone"></span>
						</div>

						<div class="flex-col size2">
							<span class="txt1 p-b-20">Téléphone</span>
							<span class="txt3">0320123687</span>
						</div>
					</div>

					<div class="dis-flex size1 p-b-47">
						<div class="txt1 p-r-25">
							<span class="fas fa-envelope"></span>
						</div>

						<div class="flex-col size2">
							<span class="txt1 p-b-20">Support général</span>
							<span class="txt3">contact@JulienGuellerin.com</span>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>


	<!--   retourner en haut de la page -->
	<div id="scrollUp">
		<a href="#top">
			<img src="../assets/img/to_top.png" alt="haut de page" title="haut de page"/>
		</a>
	</div>


	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>Une question ?</h3>
					<p>
						Pour toutes questions ou demande d'informations, merci de nous contacter par télépone, par email ou bien en remplissant le formulaire (dans le menu page Contact).
					Vous pouvez également directement télécharger la documentation, vous inscrire à une réunion d'information ou candidater en ligne.</p>
				</section>
				<section>
					<h4>Partenaires officiels</h4>
					<ul class="alt">
						<li>
							<a href="#">Dolor.</a>
						</li>
						<li>
							<a href="#">Etiam.</a>
						</li>
						<li>
							<a href="#">Felis.</a>
						</li>
						<li>
							<a href="#">pulvinar.</a>
						</li>
					</ul>
				</section>
				<section>
					<h4>Suivez nous sur :</h4>
					<ul class="plain">
						<li>
							<a href="#"><i class="icon fa-twitter fa-3x" title="logo twitter icon" >&nbsp;</i>Twitter</a>
						</li>
						<li>
							<a href="#"><i class="icon fa-facebook fa-3x" title="logo Facebook icon">&nbsp;</i>Facebook</a>
						</li>
						<li>
							<a href="#"><i class="icon fa-youtube fa-3x" title="logo Youtube icon">&nbsp;</i>Youtube</a>
						</li>
						<li>
							<a href="#"><i class="icon fa-twitch fa-3x" title="logo twitch icon">&nbsp;</i>twitch</a>
						</li>
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; Untitled.
			</div>
		</div>
	</footer>	

	<!-- Scripts -->
	<script src="../assets/js/jquery.js" type="text/javascript"></script>
	<script src="../assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="../assets/js/browser.min.js" type="text/javascript"></script>
	<script src="../assets/js/breakpoints.min.js" type="text/javascript"></script>
	<script src="../assets/js/util.js" type="text/javascript"></script>
	<script src="../assets/js/main.js" type="text/javascript"></script>
	<script src="../assets/js/to-top.js" type="text/javascript"></script>

</body>
</html>

