<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Tarifs Julien Guellerin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="../assets/css/style.css" />
	<link rel="stylesheet" href="../assets/css/tarifs.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


</head>
<body>
	<!-- Header -->
	<header id="header">
		<a class="logo" href="index.html">
			<img src="../assets/img/game_over.png" alt="game over" title="game over">
		</a>
		<nav>
			<a href="#menu">Menu déroulant</a>
		</nav>
	</header>
	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="../index.html">Accueil</a></li>
			<li><a href="../View/about.html">Qui suis-je?</a></li>
			<li><a href="../View/contact.html">Contact</a></li>
			<li><a href="tarifs.html">Tarifs</a></li>
			<li><a href="../View/connexion.html">Connexion</a></li>
		</ul>
	</nav>
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h1>Julien Guellerin</h1>
			<p>Dans quel jeu souhaitez-vous vous améliorer ?</p>
			<a href="mailto:JulienGuellerin@gmail.com">JulienGuellerin@gmail.com</a>
		</div>
		<video autoplay loop muted playsinline src="../assets/video/mohaa.mp4"></video>
	</section>
	<!-- Contact -->
	<section class="wrapper">
		<div class="inner">
			<header class="special">
				<h2>Tarifs</h2>
			</header>
		<div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
						<th>Prix</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Alpha</td>
						<td>Ante turpis integer aliquet porttitor.</td>
						<td>10.00</td>
					</tr>
					<tr>
						<td>Beta</td>
						<td>Vis ac commodo adipiscing arcu aliquet.</td>
						<td>20.00</td>
					</tr>
					<tr>
						<td>Gamma</td>
						<td>Morbi faucibus arcu accumsan lorem.</td>
						<td>30.00</td>
					</tr>
					<tr>
						<td>Delta</td>
						<td>Vitae integer tempus condimentum.</td>
						<td>40.00</td>
					</tr>
					<tr>
						<td>Epsilon</td>
						<td>Ante turpis integer aliquet porttitor.</td>
						<td>50.00</td>
					</tr>
					<tr>
						<td>Zeta</td>
						<td>Vis ac commodo adipiscing arcu aliquet.</td>
						<td>60.00</td>
					</tr>
					<tr>
						<td>Eta</td>
						<td>Morbi faucibus arcu accumsan lorem.</td>
						<td>70.00</td>
					</tr>
					<tr>
						<td>Theta</td>
						<td>Vitae integer tempus condimentum.</td>
						<td>80.00</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2"></td>
						<td>Total :</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</section>


	<!--   retourner en haut de la page -->
	<div id="scrollUp">
		<a href="#top">
			<img src="../assets/img/to_top.png" alt="haut de page" title="haut de page"/>
		</a>
	</div>


	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>Une question ?</h3>
					<p>
						Pour toutes questions ou demande d'informations, merci de nous contacter par télépone, par email ou bien en remplissant le formulaire (dans le menu page Contact).
					Vous pouvez également directement télécharger la documentation, vous inscrire à une réunion d'information ou candidater en ligne.</p>
				</section>
				<section>
					<h4>Partenaires officiels</h4>
					<ul class="alt">
						<li>
							<a href="#">Dolor.</a>
						</li>
						<li>
							<a href="#">Etiam.</a>
						</li>
						<li>
							<a href="#">Felis.</a>
						</li>
						<li>
							<a href="#">pulvinar.</a>
						</li>
					</ul>
				</section>
				<section>
					<h4>Suivez nous sur :</h4>
					<ul class="plain">
						<li>
							<a href="#"><i class="icon fa-twitter fa-3x" title="logo twitter icon" >&nbsp;</i>Twitter</a>
						</li>
						<li>
							<a href="#"><i class="icon fa-facebook fa-3x" title="logo Facebook icon">&nbsp;</i>Facebook</a>
						</li>
						<li>
							<a href="#"><i class="icon fa-youtube fa-3x" title="logo Youtube icon">&nbsp;</i>Youtube</a>
						</li>
						<li>
							<a href="#"><i class="icon fa-twitch fa-3x" title="logo twitch icon">&nbsp;</i>twitch</a>
						</li>
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; Untitled.
			</div>
		</div>
	</footer>	

	<!-- Scripts -->
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>
	<script src="../assets/js/to-top.js"></script>

</body>
</html>

